.avatar{
    border-radius: 100px;
    border: 5px solid black;
    box-shadow: 0 0 7px #666;
    height: 250px;
    width: 250px;
}
.fio{
    font-size: large;
}
.telegram{
    width: 32px;
    height: 32px;
}
body{
    background-image: url('../assets/119631-abstract-yellow-and-white-background-vector.jpg');
}
.contacts{
    width: 300px;
}
.name{
    font-weight: 800;
}